@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
html,
body {
  margin: 0 auto;
  width: 1920px; }

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1920px;
  /*min-height: 1024px;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px 0;
  background: center/cover no-repeat #454545 url(../img/header-background.jpg); }
  .main-header-top {
    width: 100%;
    height: 64px;
    padding: 0 374px 0 376px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 265px; }

.main-header-logo {
  fill: currentColor; }

.main-header-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 180px;
  color: #fff; }
  .main-header-logo-link-text {
    font-family: Raleway;
    font-size: 34px;
    letter-spacing: -1.36px;
    text-align: right; }
  .main-header-logo-link:hover {
    color: #c7b299;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .main-header-logo-link:active {
    color: #fff; }

.main-menu-nav-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mob-menu-label,
#mob-menu {
  display: none; }

#mob-menu:checked ~ .main-menu-nav {
  visibility: visible;
  height: auto; }

.main-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .main-menu-nav-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-right: 28px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .main-menu-nav-link:last-of-type {
      margin-right: 0; }
    .main-menu-nav-link:hover {
      color: #c7b299;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-delay: 0s;
              transition-delay: 0s; }
    .main-menu-nav-link:active {
      color: #fff; }

.main-menu-nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.cart-btn {
  width: 18px;
  height: 24px;
  outline: none;
  text-decoration: none;
  margin-right: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 0; }
  .cart-btn-icon {
    fill: #fff; }
    .cart-btn-icon:hover {
      fill: #c7b299;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-delay: 0s;
              transition-delay: 0s; }
    .cart-btn-icon:active {
      fill: #fff; }

.search-form {
  width: 24px;
  height: 24px;
  position: relative; }
  .search-form-label {
    display: block;
    width: 100%;
    min-height: 100%; }
    .search-form-label:hover .search-form-icon {
      fill: #c7b299;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-delay: 0s;
              transition-delay: 0s; }
    .search-form-label:active .search-form-icon {
      fill: #fff; }
  .search-form-icon {
    width: 100%;
    height: 100%;
    fill: #fff; }
  .search-form-input {
    width: 0;
    min-height: 0;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    left: -120px;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal; }
    .search-form-input:focus {
      width: 150px;
      height: 30px;
      -webkit-transition: width 1s ease-out;
      transition: width 1s ease-out;
      background-position: right;
      border: 2px solid #fff; }

.main-header-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 327px 0;
  width: 1620px;
  min-height: 262px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 12px; }
  .main-header-carousel-text-wrp {
    width: 589px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px; }
  .main-header-carousel-control {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-top: 3px solid #d3c1ad;
    border-right: 3px solid #d3c1ad;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
    .main-header-carousel-control:first-of-type {
      -webkit-transform: rotate(225deg);
              transform: rotate(225deg); }
    .main-header-carousel-control:hover {
      border-top: 3px solid #a3a2a0;
      border-right: 3px solid #a3a2a0;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-delay: 0s;
              transition-delay: 0s; }
    .main-header-carousel-control:active {
      border-top: 3px solid #d3c1ad;
      border-right: 3px solid #d3c1ad; }

.main-header-carousel-h2 {
  display: block;
  width: 100%;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0 0 5px 0; }

.main-header-carousel-h1 {
  display: block;
  width: 100%;
  font-family: Raleway;
  font-size: 52px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0 0 14px 0; }

.main-header-carousel-text_content {
  padding: 0;
  margin: 0 0 52px 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff; }

.btn-main {
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  word-break: break-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px; }
  .btn-main:hover {
    background-color: #736357;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .btn-main:active {
    background-color: #998675; }

.main-header-carousel-btn {
  width: 170px;
  height: 53px; }

.main-header-carousel-pagination {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .main-header-carousel-pagination-item {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 50%;
    margin: 0 9px 0 0; }
    .main-header-carousel-pagination-item:last-of-type {
      margin: 0 0 0 0; }
    .main-header-carousel-pagination-item:hover {
      background-color: transparent;
      border: 2px solid #d3c1ad;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-delay: 0s;
              transition-delay: 0s; }

.features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff; }
  .features-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 32px;
    width: 267px;
    min-height: 214px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .features-wrp:nth-child(2) {
      padding-top: 10px; }
    .features-wrp:nth-child(3) {
      padding-top: 6px; }
    .features-wrp:nth-child(4) {
      padding-top: 14px; }
    .features-wrp:last-of-type {
      margin-right: 0; }
    .features-wrp:after {
      display: block;
      content: "";
      width: 70px;
      height: 3px;
      background-color: #f1eee9; }

.features-title {
  display: block;
  width: 100%;
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555;
  margin: 25px 0 12px 0; }

.features-text {
  padding: 0;
  margin: 0 0 28px 0;
  width: 100%;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c; }

.features-icon {
  fill: #555; }

.features-wrp:hover .features-title {
  color: #c7b299; }

.features-wrp:hover .features-icon {
  fill: #c7b299; }

.features-wrp:hover:after {
  background-color: #c7b299; }

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 76px 0 0 0;
  background-color: #fbfaf8;
  margin-bottom: -2px; }
  .promo-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555;
    margin: 0 0 14px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .promo-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
    width: 769px;
    padding: 0;
    margin: 0 0 36px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .promo-screenshots {
    width: 1230px;
    min-height: 482px;
    background-image: url("../img/browser-center.jpg"), url("../img/browser-left.jpg"), url("../img/browser-right.jpg");
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right; }

.aside {
  width: 100%;
  height: 150px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19, #4e3427);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px; }

.aside-content-wrp {
  width: 530px;
  margin: 0 470px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.aside-title {
  display: block;
  width: 100%;
  font-family: 'Raleway';
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .aside-title-name {
    color: #c7b299; }

.aside-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #615855;
  padding: 0;
  margin: 0; }

.aside-btn {
  width: 170px;
  min-height: 50px; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  padding: 75px 374px 80px 374px; }
  .projects-title {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555; }
  .projects-text {
    width: 757px;
    text-align: center;
    padding: 0;
    margin: 0 207px 35px 207px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #8c8c8c; }
  .projects-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 40px; }
    .projects-menu-btn {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 5px 21px;
      text-transform: capitalize;
      border-radius: 3px;
      border: 1px solid #ebebeb;
      outline: none;
      background-color: transparent;
      word-break: break-all;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #8c8c8c;
      margin-right: 10px; }
      .projects-menu-btn:last-child {
        margin-right: 0; }
      .projects-menu-btn:hover {
        color: #fff;
        background-color: #998675;
        border: 1px solid transparent; }
      .projects-menu-btn:active {
        border: 1px solid #ebebeb;
        background-color: transparent;
        color: #8c8c8c; }

.project-card {
  width: 370px;
  height: 337px;
  margin: 0 30px 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }
  .project-card:nth-child(3n) {
    margin-right: 0; }
  .project-card-img {
    display: block;
    width: 100%; }

.project-card:nth-child(7),
.project-card:nth-child(8),
.project-card:nth-child(9) {
  margin-bottom: 40px; }

.project-card-btn {
  position: absolute;
  width: 26px;
  height: 26px;
  display: none;
  border: none;
  outline: none;
  top: 105px;
  left: 193px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  padding: 0; }
  .project-card-btn:nth-of-type(odd) {
    left: 139px; }

.project-card-footer {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #fbfaf8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 27px; }
  .project-card-footer:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -9px;
    left: 20px; }
  .project-card-footer-title {
    display: block;
    width: 100%;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
    margin-bottom: 5px; }
  .project-card-footer-subtitle {
    display: block;
    width: 100%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #d1d1d1; }

.project-card:hover .project-card-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%); }

.project-card:hover .project-card-btn {
  display: block; }

.project-card:active .project-card-btn {
  display: block; }

.project-card:hover .link-icon,
.project-card:hover .zoom-icon {
  fill: #fff; }

.project-card:hover .project-card-footer {
  background-color: #362f2d; }

.project-card:hover .project-card-footer:before {
  border-bottom: 10px solid #362f2d; }

.project-card:hover .project-card-footer-title {
  color: #fff; }

.project-card:hover .project-card-footer-subtitle {
  color: #c7b299; }

.project-card-btn:hover .link-icon {
  fill: #c7b299; }

.project-card-btn:hover .zoom-icon {
  fill: #c7b299; }

.project-card-btn:active .link-icon {
  fill: #fff; }

.project-card-btn:active .zoom-icon {
  fill: #fff; }

.projects-btn {
  width: 170px;
  min-height: 50px; }

.video-section {
  width: 100%;
  min-height: 705px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #635c56; }
  .video-section-video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.video-section-wrp {
  position: absolute;
  width: 562px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.video-section-btn {
  display: block;
  border: none;
  outline: none;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out; }
  .video-section-btn:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .video-section-btn:active .icon-play {
    -webkit-filter: brightness(50%);
            filter: brightness(50%); }

.icon-play {
  margin: auto;
  fill: #fff; }

.video-section-title {
  display: block;
  margin: 37px 0 14px 0;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.video-section-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0 0 29px 0; }

.video-section-time {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #c7b299; }

.mobile {
  width: 100%;
  min-height: 695px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 190px 50px 50px 875px;
  background: url("../img/mobile.png") no-repeat 100%;
  background-color: #fbfaf8;
  background-position: bottom left 423px; }
  .mobile-title {
    display: block;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
    margin: 0 0 25px 0; }
  .mobile-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
    margin: 0 0 32px 0;
    width: 666px;
    min-height: 99px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.mobile-list {
  list-style-type: none;
  margin: 0 0 0 50px;
  padding: 0 0 0 50px;
  width: 720px;
  min-height: 111px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .mobile-list-item {
    position: relative;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c; }
    .mobile-list-item:before {
      display: block;
      content: ">";
      width: 21px;
      height: 21px;
      background-color: #c7b299;
      color: #fff;
      position: absolute;
      top: 5px;
      left: -50px;
      text-align: center;
      line-height: 21px;
      border-radius: 50%; }

.counter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19, #4e3427); }
  .counter-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 7px 15px 0 15px;
    width: 198px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .counter-item:after {
      display: block;
      content: "";
      width: 30px;
      height: 2px;
      background-color: #fff; }
    .counter-item-quantity {
      display: block;
      width: 100%;
      text-align: center;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 200;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.75;
      letter-spacing: normal;
      color: #ffffff;
      margin: 30px 0 16px; }
    .counter-item-text {
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
      color: #c7b299;
      margin-bottom: 25px; }
  .counter-icon {
    fill: #c7b299; }

.posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 77px 374px 80px 374px; }
  .posts-title {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #555555; }
  .posts-text {
    width: 100%;
    padding: 0 200px;
    margin: 0 0 34px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c; }

.posts-article {
  width: 370px;
  min-height: 395px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 30px 40px 0;
  position: relative; }
  .posts-article:last-of-type {
    margin-right: 0; }
  .posts-article-img {
    display: block;
    width: 370px;
    height: 220px; }
  .posts-article-date {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px; }
    .posts-article-date-day {
      display: block;
      width: 100%;
      height: 35px;
      background-color: #363636;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 35px;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      border-radius: 3px 3px 0 0; }
    .posts-article-date-month {
      display: block;
      width: 100%;
      height: 25px;
      background-color: #252525;
      font-family: Roboto;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 25px;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      border-radius: 0 0 3px 3px; }
  .posts-article-pagination {
    width: 95px;
    height: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 187px;
    left: 134px; }
    .posts-article-pagination-btn {
      display: block;
      border-radius: 50%;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 11px;
      height: 11px;
      background-color: rgba(255, 255, 255, 0.3);
      border: 2px solid transparent;
      margin: 0 9px 0 0;
      outline: none;
      text-decoration: none; }
      .posts-article-pagination-btn:last-of-type {
        margin: 0 0 0 0; }
      .posts-article-pagination-btn:hover {
        background-color: transparent;
        border: 2px solid #d3c1ad;
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
        -webkit-transition: .3s;
        transition: .3s;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-delay: 0s;
                transition-delay: 0s; }

.posts-article-content {
  width: 100%;
  min-height: 175px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 26px 30px 26px 30px;
  background-color: #fff; }
  .posts-article-content-title {
    display: block;
    width: 100%;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
    margin: 0 0 13px 0; }
  .posts-article-content-text {
    padding: 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #8c8c8c;
    margin: 0 0 21px 0; }
  .posts-article-content-link {
    position: relative;
    display: block;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
    text-decoration: none;
    text-transform: capitalize; }
    .posts-article-content-link:after {
      display: none;
      content: "";
      position: absolute;
      width: 5px;
      height: 8px;
      top: 7px;
      left: 84px;
      background: url("../img/arrow.png") center no-repeat; }
    .posts-article-content-link:hover {
      color: #a48d72; }
    .posts-article-content-link:hover:after {
      display: block; }
    .posts-article-content-link:hover:active {
      display: none; }
    .posts-article-content-link:active {
      color: #d1d1d1; }

.posts-article:hover {
  outline: 1px solid black; }

.posts-article:hover .posts-article-content {
  background-color: #362f2d; }

.posts-article:hover .posts-article-content-title {
  color: #c7b299; }

.posts-article:hover .posts-article-content-text {
  color: #fff; }

/*.posts-article:hover .posts-article-img {
    filter: brightness(30%);
}

.posts-article:hover .posts-article-pagination {
	display: none;
}*/
.posts-article:hover .posts-article-date-day {
  background-color: #c7b299; }

.posts-article:hover .posts-article-date-month {
  background-color: #a48d72; }

.posts-btn {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 8px 0 0; }
  .posts-btn:last-of-type {
    margin: 0; }

.posts-btn-img {
  fill: #c7b299; }

.posts-btn:hover .posts-btn-img {
  fill: #d1d1d1;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

.posts-btn:active .posts-btn-img {
  fill: #c7b299; }

.logos {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 140px;
  background: center/cover no-repeat #292c31 url("../img/bg-logo-section.jpg"); }
  .logos-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 210px;
    height: 210px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 90px;
    text-decoration: none;
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out; }
    .logos-link:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .logos-link:last-of-type {
      margin-right: 0; }
    .logos-link:active .logos-img {
      -webkit-filter: brightness(50%);
              filter: brightness(50%); }

.main {
  width: 100%; }

.main-footer-top {
  width: 100%;
  min-height: 508px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 375px 40px 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #191919; }

.main-footer-logo-lnk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 177px;
  height: 56px;
  text-decoration: none;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 30px 0; }
  .main-footer-logo-lnk:hover {
    color: #c7b299;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .main-footer-logo-lnk:active {
    color: #fff; }

.main-footer-logo {
  fill: #fff; }

.main-footer-logo-lnk:hover .main-footer-logo {
  fill: #c7b299; }

.main-footer-logo-lnk:active .main-footer-logo {
  fill: #fff; }

.footer-logo-text {
  font-family: Raleway;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 56px;
  letter-spacing: -1.36px;
  text-align: right; }

.main-footer-posts-title,
.main-footer-twitter-title,
.main-footer-gallery-title {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff; }

.main-footer-article-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 19px 0; }

.main-footer-article-lnk {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #d1d1d1;
  position: relative; }
  .main-footer-article-lnk:after {
    display: none;
    content: "";
    position: absolute;
    width: 5px;
    height: 8px;
    top: 7px;
    left: 84px;
    background: url("../img/arrow-footer.png") center no-repeat; }
  .main-footer-article-lnk:hover {
    color: #00bff3;
    -webkit-transition: .3s;
    transition: .3s; }
  .main-footer-article-lnk:hover:after {
    display: block;
    -webkit-transition: .3s;
    transition: .3s; }
  .main-footer-article-lnk:hover:active {
    display: none; }
  .main-footer-article-lnk:active {
    color: #d1d1d1; }

.main-footer-article {
  max-width: 270px; }

.main-footer-posts {
  max-width: 270px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.post-lnk {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #252525;
  text-decoration: none;
  margin-bottom: 20px; }
  .post-lnk:last-of-type {
    border-bottom: none; }

.post-date {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #363636; }

.post-preview {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
  padding-bottom: 16px; }

.post-lnk:hover .post-date {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s; }

.post-lnk:hover .post-preview {
  color: #c7b299;
  -webkit-transition: .3s;
  transition: .3s; }

.post-lnk:active .post-date {
  color: #363636; }

.post-lnk:active .post-preview {
  color: #555; }

.main-footer-twitter {
  max-width: 270px;
  margin-top: 20px; }

.twitter-article {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #252525;
  margin-bottom: 20px; }

.twitter-article-text {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #555555; }

.twitter-article-time {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #363636; }

.twitter-lnk {
  text-decoration: none;
  color: #00bff3; }
  .twitter-lnk:hover {
    color: #959595;
    -webkit-transition: .3s;
    transition: .3s; }
  .twitter-lnk:active {
    color: #00bff3; }

.main-footer-gallery {
  max-width: 270px;
  margin-top: 20px; }
  .main-footer-gallery-figure {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0; }

.footer-figure-item {
  display: block;
  margin-bottom: 10px;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out; }
  .footer-figure-item:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15); }

.main-footer-bottom {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 45px 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111; }

.footer-links-text {
  color: #555;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: right; }

.main-footer-bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-bottom-link {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: right;
  color: #555;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10px;
  border-right: 1px solid #555;
  margin-right: 10px; }
  .footer-bottom-link:nth-child(5) {
    padding-right: 0;
    border-right: none;
    margin-right: 0; }
  .footer-bottom-link:last-child {
    padding-right: 0;
    border-right: none;
    margin-right: 0; }
  .footer-bottom-link-brand {
    color: #959595; }
  .footer-bottom-link:hover {
    color: #c7b299;
    -webkit-transition: .3s;
    transition: .3s; }

@media (max-width: 480px) {
  html,
  body {
    max-width: 480px; }

  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .main-header-top {
      max-width: 100%;
      height: auto;
      padding: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin: 0 auto; }

  .main-menu-nav-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .mob-menu-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 56px;
    height: 56px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

  .mob-menu-btn {
    display: block;
    width: 100%;
    height: 6px;
    background-color: #fff;
    position: relative; }
    .mob-menu-btn:before, .mob-menu-btn:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 6px;
      background-color: #fff; }
    .mob-menu-btn:before {
      top: -22px; }
    .mob-menu-btn:after {
      top: 22px; }

  .mob-menu-label:hover .mob-menu-btn {
    background-color: #c7b299;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }

  .mob-menu-label:hover .mob-menu-btn:before,
  .mob-menu-label:hover .mob-menu-btn:after {
    background-color: #c7b299;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }

  .main-menu-nav {
    visibility: hidden;
    height: 0;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto; }
    .main-menu-nav-link {
      text-align: center;
      margin-right: 0;
      margin-top: 5px;
      padding: 10px;
      font-size: 18px; }

  .main-menu-nav-btns {
    display: none; }

  .main-header-carousel {
    display: none; }

  .main-header-carousel-pagination {
    display: none; }

  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 40px 0; }
    .features-wrp {
      margin: 0 0 40px 0; }
      .features-wrp:last-of-type {
        margin-bottom: 0; }

  .promo {
    display: none; }

  .aside {
    display: none; }

  .projects {
    padding: 0; }
    .projects-title {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
      font-family: Raleway;
      font-size: 30px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #555; }
    .projects-text {
      width: 85%;
      text-align: justify;
      padding: 0;
      margin: 0 0 40px 0; }
    .projects-menu {
      display: none; }

  .project-card {
    margin: 0 0 30px 0; }

  .project-card:nth-child(7),
  .project-card:nth-child(8),
  .project-card:nth-child(9) {
    margin-bottom: 30px; }

  .projects-btn {
    margin-bottom: 40px; }

  .video-section {
    display: none; }

  .mobile {
    padding: 40px 0 40px 0;
    background-position: bottom left 20px;
    background-size: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .mobile-title {
      text-align: center;
      margin: 0 0 25px 0; }
    .mobile-text {
      text-align: justify;
      color: #8c8c8c;
      margin: 0 0 16px 0;
      width: 80%; }

  .mobile-list {
    width: 50%;
    list-style-type: none;
    margin: 0 0 0 205px;
    padding: 0 0 0 30px;
    min-height: 111px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .mobile-list-item {
      font-size: 12px;
      text-align: justify; }
      .mobile-list-item:before {
        width: 19px;
        height: 19px;
        left: -24px;
        line-height: 19px; }

  .counter {
    display: none; }

  .posts {
    padding: 40px 0 40px 0; }
    .posts-text {
      width: 80%;
      padding: 0;
      margin: 0 0 0 0;
      text-align: justify; }

  .posts-article {
    margin: 40px 0 0 0; }

  .posts-btn {
    display: none; }

  .logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0 20px 0; }
    .logos-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 210px;
      height: 210px;
      margin: 20px; }
      .logos-link:last-of-type {
        margin-right: 20px; }

  .main-footer-top {
    display: none; }

  .main-footer-bottom {
    padding: 20px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .main-footer-bottom-links {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-footer-bottom-links:first-child {
      margin-bottom: 20px; } }
