.features {
	width: 100%;
	@include flex-center-center;
	padding: 80px 0;
	box-sizing: border-box;
	background-color: #fff;

	&-wrp{
		@include flex-center;
		flex-wrap: wrap;
		align-items: flex-end;
		margin-right: 32px;
		width: 267px;
		min-height: 214px;
		box-sizing: border-box;

	    &:nth-child(2){
		    padding-top: 10px;
	}

	    &:nth-child(3){
		    padding-top: 6px;
	}

	    &:nth-child(4){
		   padding-top: 14px;
	}

		&:last-of-type {
			margin-right: 0;
		}

		&:after {
            display: block;
            content: "";
            width: 70px;
            height: 3px;
            background-color: #f1eee9;
		}
	}
}

.features-title {
  display: block;
  width: 100%;
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555;
  margin: 25px 0 12px 0;

}

.features-text {
  padding: 0;
  margin: 0 0 28px 0; 
  width: 100%;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
}

.features-icon {
	fill: #555;

}

.features-wrp:hover .features-title {
	color: $color-main-menu--hover;
}

.features-wrp:hover .features-icon {
	fill: $color-main-menu--hover;
}

.features-wrp:hover:after {
	background-color: $color-main-menu--hover;
}